body {
	background: #fff;
	font-family: 'Lato', sans-serif;
	line-height: 1.3em;
}

a, a:visited {
	text-decoration: none;
	color: #3498db;
}

a:hover {
	color: #2980b9;
}

#wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 502px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	background: #fff;
	padding: 10px;
	text-align: center;
}

#wrap img {
	border: 1px solid #ccc;
}

#wrap h2 {
	text-align: center;
	font-size: 15px;
}

input {
	width: 50%;
 	padding: 10px;
 	border: solid 1px #dcdcdc;
 	transition: box-shadow 0.3s, border 0.3s;
}

input:focus,
input.focus {
 	border: solid 1px #707070;
 	box-shadow: 0 0 5px 1px #969696;
}

label {
	display: block;
	font-size: 16px;
	font-weight: 300;
}

button {
	margin: 10px 0 0 0;
	width: 100px;
}

#status {
	padding: 10px 0 0 0;
	text-align: center;
	height: 20px;
	font-size: 14px;
	color: #2ecc71;
}

li {
	list-style: circle;
	text-align: left;
	font-size: 13px;
}

.remember {
	font-style: italic;
	font-weight: 300;
}

.info {
	font-size: 12px;
}

#copyright {
	font-size: 14px;
	margin: 15px 0 0 0;
	text-align: center;
	width: 100%;
}